<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="#intro" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Inicio</a></li>
                <li><a href="#speakers">Expositores</a></li>
                <li><a href="#schedule">Agenda</a></li>
                <li><a href="#venue">Lugar del evento</a></li>
                <li><a href="#info">Información</a></li>
                <li class="buy-tickets"><a href="#contact">Registro</a></li>
            </ul>
        </nav>
    </div>
</header>