<section id="speakers-details" class="wow fadeIn main-page" *ngIf="expositor">
    <div class="container">
        <div class="section-header">
            <h2>Speaker Details</h2>
            <p>Praesentium ut qui possimus sapiente nulla.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img [src]="expositor.img" alt="Speaker 1" class="img-fluid">
            </div>

            <div class="col-md-6">
                <div class="details">
                    <h2>{{ expositor.nombre }}</h2>
                    <p><strong>Cargo: </strong>{{ expositor.cargo }}</p>
                    <p><strong>Institución: </strong>{{ expositor.institucion }}</p>
                    <p><strong>País: </strong>{{ expositor.pais }}</p>
                    <p>{{ expositor.file }}</p>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>