<section class="wow fadeIn pt-100 pb-100 main-page">
    <div class="container">
        <div class="section-header">
            <h2>REAL PLAZA HOTEL</h2>
        </div>

        <h3 class="text-heading">Acerca del Hotel</h3>
        <div class="row">
            <div class="col-lg-12">
                <blockquote class="generic-blockquote">
                    <p class="sample-text">
                        Real Plaza Hotel & Convention Center esta localizado en el corazón de la cuidad de La Paz, cerca de las oficinas de Gobierno, bancos museos y toda la actividad política y económica de la ciudad, cuenta con servicio personalizado y todas las comodidades
                        y facilidades para el viajero de negocios o de placer.</p>
                    <p>Cuenta con 200 habitaciones y suites que están finamente decoradas y equipadas con Televisión por cable, Internet “Wi- Fi” en todas las habitaciones y salones, minibar, teléfono, calefacción, caja de seguridad, room service las 24
                        horas, lavandería, además de que todas las habitaciones cuentan con una espectacular vista de la ciudad de La Paz y de los paisajes Andinos que la circundan.
                    </p>
                </blockquote>
            </div>
        </div>


        <div class="section-top-border">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <h4 class="mb-20">Restaurante Aransaya</h4>
                        <p>Ubicado en el penthouse del Hotel, con una impresionante vista de la ciudad y sus alrededores, un lugar placentero y elegante.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h4 class="mb-20">Habitaciones</h4>
                        <p>Habitaciones decoradas, equipadas con todas las comodidades y con la mejor vista de la ciudad y del nevado “Illimani”</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h4 class="mb-20">Salón Libertador</h4>
                        <p>Se ha caracterizado por ser el mas grande, versátil y único de la ciudad de La Paz, puede acoger a 1000 invitados.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-sm-30 section-top-border">
            <h3 class="mb-20">Información</h3>
            <div class="">
                <ul class="unordered-list">
                    <li>Todas las tarifas incluyen desayuno Continental de 04:30 a 06:00, desayuno Buffet Americano de 06:00 a 10:00 de la mañana en Restaurant "Suma-Uru".</li>
                    <li>Ingreso al SPA.</li>
                    <li>Sistema WiFi en habitaciones y áreas públicas.</li>
                    <li>Impuestos de Ley.</li>
                    <li>Horario de ingreso (Check In) a partir de las 13:00 hrs. y el horario de salida (Check Out) hasta las 12:00 Hrs.</li>
                    <li>Toda cancelación de reserva de grupo deberá ser con 72 hrs. de anticipación a la fecha de arribo y para pasajeros individuales con 24 hrs. de anticipación, caso contrario se cobrará No Show a la empresa que corresponde al cargo de
                        la primera noche.</li>
                    <li>Todo Hospedaje deberá ser cancelado en su totalidad al momento del ingreso, ya sea en efectivo o Tarjeta de Crédito. Trabajamos con tarjetas Visa y Master Card.
                    </li>
                    <li>Para los Gastos Extras, el Pasajero deberá dejar una garantía al momento del ingreso, en efectivo o Tarjeta de Crédito.</li>
                    <li>La presentación del Pasaporte y Tarjeta de Ingreso de Migración (para huéspedes extranjeros) y la Cédula de Identidad (para huéspedes nacionales), es requisito indispensable para el registro del Huésped.</li>
                    <li>En caso de requerir un late check out después de las 12:00 hrs hasta las 18:00 se cargará $us 40 en habitación simple y $us 50 en habitación doble. Pasada las 18:00 hrs. se cobrará la tarifa completa.</li>
                    <li>Niños a partir de los 8 años pagan tarifa completa.</li>
                    <li>Niños menores de 8 años que requieran cama extra el costo es de $us 50.</li>
                    <li>Servicio de Lavandería normal. (De lunes a Domingo de 07:00 a 16:00 hrs)</li>
                    <li>Servicio Room Service 24 hrs.</li>
                </ul>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <h3>Tarifas corporativas</h3>
            </div>
            <div class="col-md-6">
                <h3>Contáctos</h3>
            </div>
        </div>
        <div class="row section-top-border">
            <div class="col-md-6">
                <table class="table table-responsive">
                    <tr>
                        <th>Tipo de Habitación</th>
                        <th>Simple</th>
                        <th>Doble</th>
                    </tr>
                    <tr>
                        <td>Estándar</td>
                        <td>$us. 80,00</td>
                        <td>$us. 100,00</td>
                    </tr>
                    <tr>
                        <td>Ejecutiva</td>
                        <td>$us. 96,00</td>
                        <td>$us. 106,00</td>
                    </tr>
                    <tr>
                        <td>Lujo</td>
                        <td>$us. 120,00</td>
                        <td>$us. 140,00</td>
                    </tr>
                    <tr>
                        <td>Suite de Lujo</td>
                        <td>$us. 235,00</td>
                        <td>$us. 235,00</td>
                    </tr>
                    <tr>
                        <td>(*) Expresado en dólares americanos</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-responsive">
                    <tr>
                        <td>Informes y reservas:</td>
                        <td><i class="fa fa-phone"></i> 2440223, 2440810, Int 4111</td>
                    </tr>
                    <tr>
                        <td>Dirección:</td>
                        <td><i class="fa fa-map-marker" aria-hidden="true"></i> Av Arce, #2177 La Paz - Bolivia
                        </td>
                    </tr>
                    <tr>
                        <td>Sitio WEB:</td>
                        <td><i class="fa fa-external-link" aria-hidden="true"></i>
                            <a href="http://www.realplazabolivia.com/" target="_blank">
                                  http://www.realplazabolivia.com/</a></td>
                    </tr>
                    <tr>
                        <td>Correo Electrónico:</td>
                        <td><i class="fa fa-envelope" aria-hidden="true"></i> plaza@plazabolivia.com.bo</td>
                    </tr>
                    <tr>
                        <td>Facebook:</td>
                        <td><i class="fa fa-facebook-square" aria-hidden="true"></i><a href="https://www.facebook.com/Realplazabolivia/?rf=112544525493289" target="_blank"> realplazabolivia</a></td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="section-top-border">
            <h3>Galería de imágenes</h3>
            <div class="row gallery-item">
                <div class="col-md-4">
                    <a href="assets/img/hotels/foto1.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/hotels/foto1.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/hotels/foto2.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/hotels/foto2.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/hotels/foto3.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/hotels/foto3.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="assets/img/hotels/foto4.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/hotels/foto4.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="assets/img/hotels/foto5.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/hotels/foto5.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/hotels/foto6.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/hotels/foto6.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/hotels/foto7.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/hotels/foto7.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/hotels/foto8.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/hotels/foto8.jpg);"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>