.pt-100 {
    padding-top: 50px;
}

.pb-100 {
    padding-bottom: 10px;
}

.pb-200 {
    padding-bottom: 50px;
}

.p1-gradient-bg,
.primary-btn:after,
.overlay-bg,
.owl-dot.active,
.service-area .single-service .overlay-content {
    background-image: -moz-linear-gradient(0deg, #3224b0 0%, #A93D90 100%);
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #A93D90 100%);
    background-image: -ms-linear-gradient(0deg, #3224b0 0%, #A93D90 100%);
}

.p2-gradient-bg {
    background-image: -moz-linear-gradient(90deg, #3224b0 0%, #be5ede 50%);
    background-image: -webkit-linear-gradient(90deg, #3224b0 0%, #be5ede 50%);
    background-image: -ms-linear-gradient(90deg, #3224b0 0%, #be5ede 50%);
}

.p1-gradient-color {
    background: -moz-linear-gradient(0deg, #3224b0, #be5ede);
    background: -webkit-linear-gradient(0deg, #3224b0, #be5ede);
    background: -ms-linear-gradient(0deg, #3224b0, #be5ede);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featured-area {
    background-color: #fff;
}

.featured-area h2 {
    font-size: 36px;
    font-weight: 100;
}

.featured-area h2 span {
    font-weight: 600;
}

.featured-area p {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .feature-right {
        margin-top: 50px;
    }
}

.owl-dots {
    text-align: center;
    bottom: 5px;
    margin-top: 20px;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(127, 127, 127, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}

.owl-dot.active {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 0px 25px 0px 0px;
}

.section-top-border {
    padding: 30px 0;
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #A93D90;
}

.progress-table-wrap {
    overflow-x: scroll;
}

.progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 800px;
}

.progress-table .serial {
    width: 11.83%;
    padding-left: 30px;
}

.progress-table .country {
    width: 28.07%;
}

.progress-table .visit {
    width: 19.74%;
}

.progress-table .percentage {
    width: 40.36%;
    padding-right: 50px;
}

.progress-table .table-head {
    display: flex;
}

.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
    color: #222222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex;
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
    display: flex;
    align-items: center;
}

.progress-table .table-row .country img {
    margin-right: 15px;
}

.progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0px;
    background: transparent;
}

.progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px;
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686;
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359;
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #a367e7;
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686;
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px;
}

.list-style {
    width: 14px;
    height: 14px;
}

.unordered-list {
    list-style-type: none;
}

.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
}

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #A93D90;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%;
}

.ordered-list {
    margin-left: 30px;
}

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #6cbb23;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list li span {
    font-weight: 300;
    color: #777777;
}

.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #6cbb23;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list-alpha li span {
    font-weight: 300;
    color: #777777;
}

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #6cbb23;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list-roman li span {
    font-weight: 300;
    color: #777777;
}

.service-area .single-service {
    height: 100%;
    color: #fff;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}

.service-area .single-service .overlay-content {
    opacity: .8;
    padding: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: end;
    -moz-justify-content: end;
    justify-content: end;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transition-timing-function: cubic-bezier(0.39, 0.92, 0.69, 0.65);
    transform: scaleY(0);
    transform-origin: top;
}

.service-area .single-service .overlay-content h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

.service-area .single-service:hover .overlay-content {
    transform: scaleY(1);
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}