<!-- Start Sample Area -->
<main id="main" class="main-page">
    <section class="wow fadeIn pt-100 pb-100">
        <div class="container">
            <div class="section-header">
                <h2>INFORMACIÓN GENERAL</h2>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        <p>Bolivia, tiene una superficie de 1.099 Km cuadrados y una población de 11.2 millones de habitantes (Fuente: INE Julio-2018). El Presidente electo democraticamente es el Excmo. Sr. Presidente Juan Evo Morales Ayma.</p>
                        <p>Geográficamente, Bolivia se encuentra ubicada en el centro de América del Sur, limita al norte y este con el páis vecino Brasil, al sur con Paraguay y Argentina, al suroeste con Chile y al oeste con Perú.</p>
                        <p>Bolivia cuenta con 9 departamentos: La Paz, Santa Cruz, Cochabamba, Sucre, Oruro; Tarija, Potosí, Beni y Pando. Entre sus principales ciudades se encuentra su capital Sucre que cuenta con 621.00 habitantes; Santa Cruz de la Sierra
                            con 1.664.663 es la ciudad con más habitantes, la ciudad de El Alto con 912.906 habitantes y la ciudad de La Paz con 798.698 habitantes; este último se encuentra ubicada a 3.640 m. sobre el nivel del mar.</p>
                    </blockquote>
                </div>
            </div>


            <div class="section-top-border">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <h4 class="mb-20">Moneda </h4>
                            <p>La moneda oficial del Estado Plurinacional de Bolivia es el boliviano (Bs). El tipo de cambio para la compra de un dólar estadounidense es
                                <strong>6,97 Bs.</strong> y para la venta <strong>6,87 Bs.</strong></p>
                            <p>Los dólares estadounidenses pueden cambiarse fácilmente en bancos o en oficinas de cambio autorizadas en todo el país. </p>
                            <p>Hay cajeros automáticos en una variedad de bancos, aeropuertos, supermercados, grandes centros turísticos y centros comerciales. Estos son seguros de utilizar y realizar retiros en la moneda local, también ofrecen los mejores
                                tipos de cambio. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h4 class="mb-20">Información Migratoria</h4>
                            <p>Se requiere un pasaporte válido. Algunos países también requieren una visa.</p>
                            <p>VISAS: Ciudadanos de los siguientes países del ALCA requieren una visa de tránsito por un máximo de 15 días exento de pago. Asimismo, requieren Visa de Turismo para ingresar a Bolivia, con costo y límite de tiempo. Las visas
                                de turista pueden ser emitidas para una o varias entradas, y pueden ser expedidas hasta 60 días.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h4 class="mb-20">El tiempo</h4>
                            <p>El Estado Plurinacional de Bolivia se encuentra situada en el centro de América del Sur entre los 57°26' y 69°38' de longitud occidental y 31' y 22°53' de latitud sur, abarcando más de 13 grados geográficos y ocupando su territorio
                                una extensión total de 1 098 581 km². Se ubica entre la Cordillera de los Andes, La Cuenca del Plata y la Cuenca Amazónica entre una altitud máxima de 6542 msnm en el Nevado Sajama y una latitud máxima de 90 msnm cerca
                                del río Paraguay.. Las temperaturas al mediodía oscilan entre 11°C y 16°C, y pueden caer hasta 7°C y 2°C durante el invierno. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-sm-30 section-top-border">
                <h3 class="mb-20">Información General</h3>
                <div class="">
                    <ul class="unordered-list">
                        <li>Cotidianamente, las actividades en el Estado Plurinacional de Bolivia inician a las 8:00 de la mañana. Los bancos abren de lunes a viernes de 9:00 a 16:30 y algunos hasta las 18:00 y los días sábados de 08:30 a 13:00. Los centros
                            oficiales, de 08:30 a 12:30 y de 14:30 a 18:30, y los museos abren de 9:00 a 12:00 y de 14:00 a 18:00, y también funcionan los sábados.</li>
                        <li>Los comercios abren sus puertas de 09:30 a 12300 y de 14:30 a 18:00 de lunes a sábado, pero los domingos cierran para descansar. En el caso de los supermercados funcionan, generalmente, de 8:00 a 21:00 de lunes a domingos.</li>
                        <li>Los restaurantes atienden de 11:00 a 14:00, ya que el horario de comidas es de 12:00 a 14:00, y más tarde de 20:00 a 24:00, siempre con horarios variables. Los bares y las discotecas abren todos los días de 18:00 a 2:00, generalmente.</li>
                        <li>Hora Oficial: La hora oficial en el Estado Plurinacional de Bolivia es República Dominicana es GTM-4.</li>
                        <li>Electricidad y enchufes: El voltaje es de 220 V, frecuencia 60 Hz y las clavijas son Tipo A/B.</li>
                        <li>El sistema de góndolas puede llevarle a cualquier punto del país por medio de sus buses provinciales o trasladarlos de un punto a otro de la ciudad con los minibuses locales.</li>
                        <li>También puede movilizarse por la ciudad de La Paz o por otras ciudades importantes, en taxis y/o radiotaxis, que son vehículos privados que ofrecen servicio de transporte. (UBER, Radiotaxi Magnifico 2416666 y xxxxxxx)</li>

                        <li><strong>Atención Médica – Emergencias</strong></li>
                        <ul class="unordered-list">
                            <li>Las zonas turísticas y las ciudades están equipadas para ofrecer atención médica moderna, con hospitales privados, clínicas y personal calificado para tratar pacientes de todas las edades.</li>
                            <li>Para emergencias, incluyendo una ambulancia, bomberos y policía hay que marcar el 110. También se puede contactar con la oficina INFOTUR Información Turística especializada para ofrecer asistencia a los visitantes y se encuentra
                                ubicada en la Av. Mariscal Santa Cruz y Colombia, su horario de atención es de 08:30 a 12:30 y de 14:30 a 18:30, su teléfono 2651677. </li>
                        </ul>
                        <li><strong>Comunicaciones</strong></li>
                        <ul class="unordered-list">
                            <li>Al igual que su infraestructura, los servicios de telecomunicaciones del Estado Plurinacional de Bolivia es completo, desde el servicio de telefonía celular local hasta las opciones de acceso a Internet. Los dos mayores y más
                                conocidos proveedores de comunicaciones del país son Entel y Tigo.</li>
                            <li>Al acceso WI-FI es muy común en el Estado Plurinacional de Bolivia. Se encuentra dentro de cafés, restaurantes, hoteles y comercio en general.</li>
                        </ul>
                        <li>Los <strong>trámites de reserva de hotel</strong>, vuelos y obtención de visas y vacunas, de ser necesarias, son responsabilidad exclusiva de cada participante.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Align Area -->
    </section>
</main>