<!--========================== Sección Introducción ============================-->

<section id="intro">
    <div class="intro-container wow fadeIn">
        <a href="#intro" class="scrollto">
            <img src="assets/img/logo_home.png" alt="" title="" style="width:60%;">
        </a>
        <p class="mb-4 pb-0">2 de abril de 2019, La Paz, Bolivia</p>
        <h2 id="demo" style="color:#FFF; display: block;margin-left: auto;margin-right: auto; font-weight:normal;"></h2>
        <p class="mb-4 pb-0">Organizado por la APS</p>
        <a href="https://www.youtube.com/watch?v=ALgE-aAUgxI" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        <a href="#about" class="about-btn scrollto">Acerca de la conferencia</a>
    </div>
</section>



<!--========================== Sección acerca de ============================-->

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Acerca del evento</h2>
                <p><i class="texto">En nombre de la Asociación de Supervisores de Seguros de América Latina
              (ASSAL), nos
              complace invitarlo a Ud. y al personal de su institución a participar de la Conferencia
              y Asamblea
              Anual 2019, que se llevará a cabo en la ciudad de La Paz - Bolivia del 2 al 5 de
              abril de 2019.</i></p>
                <p><i class="texto">Este evento abordará, temas como los microseguros, seguros inclusivos,
              riesgos del
              cambio climático y el sector Asegurador, Supervisión Basada en Gestión de Riesgos,
              Gobierno
              Corporativo, Legitimación de Ganancias Ilícitas, Lavado de Dinero, Terrorismo y Delitos
              Precedentes,
              entre otra información relevante.</i></p>
            </div>
            <div class="col-lg-2">
                <h2>Donde</h2>
                <p><i class="texto">El evento se desarrollará en la ciudad de<br> La Paz - Bolivia</i></p>
            </div>
            <div class="col-lg-2">
                <h2>Cuando</h2>
                <p><i class="texto">Del 2 al 5 de abril</i></p>
            </div>
        </div>
    </div>
</section>

<!--========================== Sección Expositores ============================-->

<section id="speakers" class="wow fadeInUp service-area">
    <div class="container">
        <div class="section-header">
            <h2>Expositores del Evento</h2>
            <p>Aquí están algunos de nuestros expositores.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let expositor of datosService.expositores; index as i">
                <div class="speaker">
                    <img src="{{expositor.img}}" alt="Speaker 1" class="img-fluid">
                    <div class="details">
                        <h3><a routerLink="/expositores/{{ i }}">
                  {{expositor.nombre}}</a>
                        </h3>
                        <p>{{expositor.institucion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--========================== Sección Agenda ============================-->

<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Calendario del Evento</h2>
            <p>Aquí encontrarás el calendario de todas las actividades programadas para el evento</p>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" style="cursor:pointer;" (click)="agendaDia(0)" role="tab" data-toggle="tab">02 de
            abril</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor:pointer;" (click)="agendaDia(1)" role="tab" data-toggle="tab">03 de abril</a>
            </li>
        </ul>

        <h3 class="sub-heading">Toma nota del horario de todas las actividades programadas, los expositores, y los temas que se van a tratar durante las dos fechas establecidas.</h3>

        <div class="tab-content row justify-content-center">
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1" *ngFor="let actividad of agenda">
                <div class="row schedule-item">
                    <div class="col-md-2"><time>{{ actividad.hora }}</time></div>
                    <div class="col-md-10">
                        <div class="speaker" *ngIf="actividad.img">
                            <img src="{{ actividad.img }}" alt="Brenden Legros">
                        </div>
                        <h4>{{ actividad.titulo }}</h4>
                        <p>{{ actividad.subtitulo }}</p>
                        <p>{{ actividad.expositor }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--========================== Sección Lugar del evento ============================-->


<section id="venue" class="wow fadeInUp">

    <div class="container-fluid">

        <div class="section-header">
            <h2>Lugar del evento</h2>
            <p>Información de la ubicación del evento.</p>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 venue-map">

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3124.653565670602!2d-68.09065143917658!3d-16.539055062203907!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe2aa7d0becfe91e!2sCasa+Grande+Hotel!5e0!3m2!1ses-419!2sbo!4v1542748005566" width="600"
                    height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6 venue-info">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8">
                        <h3>Casa Grande Hotel, La Paz</h3>
                        <p>El evento se desarrollará los días 17 y 18 de abril en el salón xxx del Casa Grande Hotel, ubicado en la Zona Sur de la ciudad de La Paz, calle 16 N° 8009.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!--========================== Sección información ============================-->


<section id="info" class="section-with-bg wow fadeInUp">
    <div class="container-fluid" id="hotels" class="tab-pane">
        <div class="section-header">
            <h2>Información de interés</h2>
            <p>Información General, hotelera y turística</p>
        </div>
        <div class="row no-gutters" align="center">
            <div class="col-lg-4 col-md-4">
                <div class="card" style="width: 25rem; height: 30rem">
                    <img class="card-img-top" src="assets/img/general/bolivia.jpg" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Estado Plurinacional de Bolivia</h5>
                        <p class="card-text">En este espacio encontrarás información general sobre el Estado Plurinacional de Bolivia, datos económicos, información demográfica, tipo de moneda, información migratoria, clima, etc.</p>
                        <a routerLink="bolivia-detalle" class="boton mt-auto">+ información</a>
                        <!-- <a href="https://assal2019.aps.gob.bo/bolivia-detalle" class="boton mt-auto">+ información</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card" style="width: 25rem; height: 30rem">
                    <img class="card-img-top" src="assets/img/general/uyuni.jpg" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Bolivia destino turístico</h5>
                        <p class="card-text">Bolivia fue elegida como el Mejor Destino Cultural del Mundo en la versión 24 del World Travel Awards (WTA), aquí encontrarás los lugares turísticos mas cercanos a la ciudad de La Paz, lugar donde se desarrollará el evento.
                        </p>
                        <a routerLink="turismo-detalle" class="boton mt-auto">+ información</a>
                        <!-- <a href="https://assal2019.aps.gob.bo/turismo-detalle" class="boton mt-auto">+ información</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card" style="width: 25rem; height: 30rem">
                    <img class="card-img-top" src="assets/img/general/plaza.jpg" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Real Plaza Hotel</h5>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p class="card-text">La organización del Comité Permanente, ha logrado precios especiales en el Hotel Real Plaza Hotel, por ello, los participantes podrán realizar sus reservas en este hotel antes del evento.
                        </p>
                        <!-- <a href="https://assal2019.aps.gob.bo/hotel-detalle" class="boton mt-auto">+ información</a> -->
                        <a routerLink="hotel-detalle" class="boton mt-auto">+ información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--========================== Sección de registro ============================-->


<section id="contact" class="section-bg wow fadeInUp">

    <div class="container">

        <div class="section-header">
            <h2>REGISTRO DE PARTICIPANTES</h2>
            <p>Puede realizar su registro al evento, llenando el siguiente formulario.</p>
        </div>

        <h3 class="sub-heading">El costo de la conferencia es de 500 $us. (Dólares Americanos), una vez que realice el depósito en cualquiera de las cuentas indicadas, debe registrar sus datos personales en el siguiente formulario, antes de participar en la conferencia.</h3>
        <br>

        <div class="row contact-info">

            <div class="col-md-4">
                <blockquote class="generic-blockquote">
                    <div>
                        <p>Banco del beneficiario</p>
                        <h3>Banco Santander<br>Chile</h3>
                    </div>
                    <div align="left">
                        <ul>
                            <li><strong>Plaza:</strong> Santiago, Chile</li>
                            <li><strong>Número Cuenta:</strong> 5100081182</li>
                            <li><strong>Código Swift:</strong> BSCHCLRM</li>
                            <li><strong>Dirección:</strong> Bandera N ° 140, Chile</li>
                            <li><strong>Nombre Cuenta:</strong> Asociación de Supervisores de Seguros de América Latina – ASSAL</li>
                        </ul>
                    </div>
                </blockquote>
            </div>

            <div class="col-md-4">
                <blockquote class="generic-blockquote">
                    <div>
                        <p>Banco Intermediario dólares</p>
                        <h3>WELLS FARGO BANK N.A.<br>New York, U.S.A.</h3>
                    </div>
                    <div align="left">
                        <ul>
                            <li>Remesa vía USA</li>
                            <li><strong>ABA:</strong> 026005092</li>
                            <li><strong>Código Swift:</strong> PNBPUS3NNYC</li>
                        </ul>
                    </div>
                </blockquote>
            </div>

            <div class="col-md-4">
                <blockquote class="generic-blockquote">
                    <div>
                        <p>Banco Intermediario euros</p>
                        <h3> Banco Santander Central Hispano S.A.<br>Madrid, España</h3>
                    </div>
                    <div align="left">
                        <ul>
                            <li>Remesa en EUROS</li>
                            <li><strong>Código Swift:</strong> BSCHESMM</li>
                        </ul>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-12" align="left">
                <blockquote class="generic-blockquote">
                    <p><strong>Cheque en dólares de Estados Unidos de Norte América</strong></p>
                    <ul>
                        <li><strong>A nombre de:</strong> Asociación de Supervisores de América Latina – ASSAL</li>
                        <li><strong>Plaza:</strong> Santiago, Chile</li>
                        <li><strong>Dirección:</strong> Secretaría ASSAL, Superintendencia de Valores y Seguros Av. Libertador Bernardo O'Higgins 1449, Piso 9 Santiago – Chile</li>
                    </ul>
                </blockquote>
            </div>

        </div>

        <div align="center">
            <h3>Formulario de registro</h3>
        </div>
        <div>
            <form (ngSubmit)="guardar()" #forma="ngForm">
                <div class="form-group">
                    <input [(ngModel)]="participante.name" type="text" class="form-control" name="name" placeholder="Nombre completo" required />
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input [(ngModel)]="participante.dni" type="text" name="dni" class="form-control" placeholder="Documento de Identidad" required />
                    </div>
                    <div class="form-group col-md-8">
                        <input [(ngModel)]="participante.email" type="email" class="form-control" name="email" placeholder="Correo electrónico" required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <select [(ngModel)]="participante.pais" name="pais" class="form-control" required>
                            <option *ngFor="let pais of paises" [ngValue]="pais.value">{{ pais.value }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-8">
                        <input [(ngModel)]="participante.entidad" type="entidad" class="form-control" name="entidad" placeholder="Empresa / Institución" required />
                    </div>
                </div>
                <div class="form-group text-center">
                    <button [disabled]="!forma.valid" type="submit">Send Message</button>
                </div>
            </form>
        </div>

    </div>
</section>