<section class="wow fadeIn pt-100 pb-100 main-page">
    <div class="container">
        <div class="section-header">
            <h2><strong>Información Turística</strong></h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <blockquote class="generic-blockquote">
                    <p>Entre las principales atracciones turísticas se encuentran a nivel local: El Mercado de las brujas de La Paz, Bolivia, es uno de los rincones más curiosos y mágicos de la ciudad. Allí uno puede encontrar toda clase de amuletos y objetos
                        tradicionales, que pueden ser comprados como remedio para los males. Plantas curativas y protectoras, artículos de lucha contra los malos espíritus presentes en la
                        <strong>Cosmovisión Aymara</strong>.</p>
                    <p>La Paz es la única ciudad del mundo donde se puede realizar un paseo por las nubes ya que con los treinta kilómetros de trayecto salvando una altitud de 3.600 a 4.000 metros sobre el nivel del mar, el teleférico de la capital boliviana
                        se ha ganado un puesto en el libro Guinness de los Récords por ser la red más extensa del mundo.</p>
                </blockquote>
            </div>
        </div>
        <br />
        <h2><span>Museos</span> en La Paz</h2>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="feature-left">
                    <div>
                        <ul class="unordered-list">
                            <li>Museo Nacional de Arte, ubicado en la Calle Comercio esq. Socabaya.</li>
                            <li>Museo de Metales Preciosos, Museo Casa de Murillo, Museo Costumbrista Juan de Vargas, Museo de Instrumentos Musicales de Bolivia, todos ellos se encuentran ubicados en la Calle Apolinar Jaen.</li>
                            <li>Museo de Etnografía y Folklore, ubicado en la Calle Ingavi esq. Genaro Sanjinez.
                            </li>
                            <li>Museo de Textiles Andinos, ubicado en la Calle Honduras N° 488, entre Guatemala y Cuba.</li>
                        </ul>
                        <p>El costo de ingreso para los visitantes extranjeros es de Bs15,00 ($us2,00) y el ingreso es de Lunes a Sábados: 9:30 a 12:00, y de 15:00 a 18:30- Domingos: 10:00 a 12:30.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="active-feature-carousel">
                    <div>
                        <img src="assets/img/general/museo1.jpg" alt="">
                    </div>
                    <div>
                        <img src="assets/img/general/museo2.jpg" alt="">
                    </div>
                    <div>
                        <img src="assets/img/general/museo3.jpg" alt="">
                    </div>
                    <div>
                        <img src="assets/img/general/museo4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <br /><br />

        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="feature-right active-feature-carousel">
                    <div class="single-slider item">
                        <img src="assets/img/general/copa1.jpg" alt="">
                    </div>
                    <div class="single-slider item">
                        <img src="assets/img/general/copa2.jpg" alt="">
                    </div>
                    <div class="single-slider item">
                        <img src="assets/img/general/copa3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-left">
                    <h2>El Santuario de <span>Copacabana</span></h2>
                    <p>La región de Copacabana se encuentra a orillas del Lago Titikaka, cuna de las más importantes civilizaciones andinas. En la región habitan 33 comunidades campesinas originarias, en su mayoría de origen Aymara y Quechua. El Lago Titikaka,
                        considerado sagrado por sus habitantes, fue habitado por las culturas prehispánicas Chiripa, Wancarani, Tiwanaku, Inca, Aymara.</p>
                    <p>Copacabana es uno de los centros turísticos más importantes del país, que ofrece vistosos paisajes, bien presentados a primera vista por las dos colinas que enmarcan la población, siendo que dentro de ella resaltan la blancas paredes
                        y la torre de la Basílica de Copacabana, que se conjuncionan perfectamente con el azul intenso del lago Titikaka.</p>
                    <p>Medio de Transporte: radiotaxi cuyo costo es de Bs1.200,00 ($us175,00) ida y vuelta y minibuses que tiene un costo de Bs20,00 ($us2,50) (solo ida).</p>
                    <p>El costo de una habitación simple en el Hotel Rosario Lago Titikaka tiene un costo de Bs600,00 ($us86,00), teléfono de contacto +591 2 8622141.</p>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="feature-left">
                    <h2>El Salar de <span>Uyuni</span></h2>
                    <p>Ubicado al suroeste de Bolivia, “El Salar de Uyuni” es el más grande del mundo. Esta región semidesértica y de tierras volcánicas encierra en su interior recursos de gran importancia económica como la reserva de 9 millones de toneladas
                        de litio y otros minerales; y paisajes de extraordinaria belleza natural. El Salar y las Lagunas Colorada, Verde, Amarilla y Celeste son sus mejor exponentes y sus nombres se atribuyen a las distintas tonalidades de colores que
                        ostentan.
                    </p>
                    <p>Complementariamente existen formaciones rocosas, pozos volcánicos y los espectaculares géisers, que remontan al visitante a la época de la formación de la tierra.</p>
                    <p>Conducir en medio de este lago de sal es una experiencia extraordinaria, sobre todo durante el invierno, cuando el azul intenso del cielo contrasta con el blanco brillante de la costra de sal. Cuando el tiempo está nublado se produce
                        el efecto “White – out”, donde el horizonte se difumina hasta desaparecer, haciendo imposible el poder diferenciar la tierra del cielo. </p>
                    <p>Se puede llegar en Autobús desde La Paz: Unas 12 horas, con servicio nocturno, entre $16 y $35. El hotel se encuentra de manera privilegiada a orillas del gran Salar de Uyuni, los pisos, paredes y muebles del hotel están construidos
                        enteramente con sal. El Costo de una habitación simple es de $us90,00 y la habitación doble $us130,00; las tarifas incluyen desayuno bufete y cena fija. Se encuentra ubicado en Colchani, 4 Km ingresando hacia el salar de Uyuni,
                        Colchani, teléfono de contacto +591 2 71440042.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-right">
                    <div class="feature-right active-feature-carousel">
                        <div class="single-slider item">
                            <img src="assets/img/general/uyuni1.jpg" alt="">
                        </div>
                        <div class="single-slider item">
                            <img src="assets/img/general/uyuni2.jpg" alt="">
                        </div>
                        <div class="single-slider item">
                            <img src="assets/img/general/uyuni3.jpg" alt="">
                        </div>
                        <div class="single-slider item">
                            <img src="assets/img/general/uyuni4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section-top-border">
            <h3>Galería de imágenes</h3>
            <div class="row">
                <div class="col-md-4">
                    <a href="assets/img/gallery/turismo1.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/gallery/turismo1.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/gallery/turismo2.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/gallery/turismo2.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/gallery/turismo3.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/gallery/turismo3.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="assets/img/gallery/turismo4.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/gallery/turismo4.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="assets/img/gallery/turismo5.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/gallery/turismo5.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/gallery/turismo6.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/gallery/turismo6.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/gallery/turismo7.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/gallery/turismo7.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/gallery/turismo8.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/gallery/turismo8.jpg);"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>