<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info" align="center">
                    <img src="assets/img/logoaps.png">
                    <p>Autoridad de Fiscalización y <br />Control de Pensiones y Seguros</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Enlaces</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="#main">Inicio</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#schedule">Agenda</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#speakers">Expositores</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#venue">Lugar del evento</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#info">Información</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Enlaces de interés</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a target="_blank" href="http://www.aps.gob.bo/">APS</a></li>
                        <li><i class="fa fa-angle-right"></i> <a target="_blank" href="https://www.assalweb.org">ASSAL</a></li>
                        <li><i class="fa fa-angle-right"></i> <a target="_blank" href="https://bolivia.gob.bo/">BOLIVIA</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contáctenos</h4>
                    <p>
                        Calle Reyes Ortiz <br> esquina Federico Zuazo<br> La Paz, Bolivia <br>
                        <strong>Teléfono:</strong> 591-2-2331212<br>
                        <strong>Email:</strong> contactenos@aps.gob.bo<br>
                    </p>

                    <div class="social-links">
                        <a href="https://twitter.com/Bolivia_APS" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/BoliviaAPS/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.youtube.com/channel/UCEWu4rYIWFmpdW7g05OO2KQ" class="youtube" target="_blank"><i
                                class="fa fa-youtube"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; <strong>APS</strong> Todos los derechos reservados
        </div>
        <div class="credits">
            Plantilla de diseño base <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>